.procurement-manager {
  &__header {
    margin-bottom: 85px;
  }

  &__panel {
    position: relative;
    display: grid;
    min-height: 350px;
    grid-template-columns: minmax(320px, 460px) minmax(0, 1fr);
    align-items: center;
    border-radius: 23px;
    background: linear-gradient(143deg, rgba(215, 226, 255, 0.8) 37.62%, rgba(215, 226, 255, 0.1) 99.57%);
  }

  &__visual {
    position: absolute;
    left: 6px;
    bottom: 0;
    width: 419px;
    height: 419px;
    pointer-events: none;
  }

  &__image {
    object-position: center bottom;
  }

  &__content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 45px 50px 0;
  }

  &__title {
    color: var(--color-primary);
    font-size: 36px;
    font-weight: var(--font-weight-medium);
    line-height: 1.2;
    letter-spacing: -1.44px;
  }

  &__text {
    color: var(--color-text-strong);
    font-size: 29px;
    line-height: 1.2;
    letter-spacing: -1.16px;
  }

  &__author {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: var(--color-text-strong);
    font-size: 29px;
    line-height: 1.2;
    letter-spacing: -1.16px;
  }

  &__role {
    color: rgba(0, 0, 0, 0.55);
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: -0.88px;
  }
}

@media (max-width: 1440px) {
  .procurement-manager {
    &__header {
      margin-bottom: 80px;
    }

    &__panel {
      min-height: 290px;
      grid-template-columns: minmax(290px, 410px) minmax(0, 1fr);
    }

    &__visual {
      left: 18px;
      width: 367px;
      height: 367px;
    }

    &__content {
      gap: 20px;
      padding: 38px 42px 38px 0;
    }

    &__title {
      font-size: 31px;
      letter-spacing: -1.24px;
    }

    &__text {
      font-size: 24px;
      letter-spacing: -1.04px;
    }

    &__name {
      font-size: 26px;
      letter-spacing: -1.04px;
    }

    &__role {
      font-size: 20px;
      letter-spacing: -0.8px;
    }
  }
}

@media (max-width: 1024px) {
  .procurement-manager {
    &__header {
      margin-bottom: 50px;
    }

    &__panel {
      min-height: 207px;
      grid-template-columns: minmax(200px, 270px) minmax(0, 1fr);
      border-radius: 15px;
      background: linear-gradient(145deg, rgb(231, 238, 255) 1.57%, rgba(231, 238, 255, 0.18) 117.3%);
    }

    &__visual {
      left: 6px;
      width: 251px;
      height: 251px;
    }

    &__content {
      gap: 15px;
      padding: 24px 26px 24px 0;
    }

    &__title {
      font-size: 23px;
      font-weight: var(--font-weight-regular);
      letter-spacing: -0.92px;
    }

    &__text {
      font-size: 18px;
      letter-spacing: -0.72px;
    }

    &__name {
      font-size: 18px;
      letter-spacing: -0.72px;
    }

    &__role {
      font-size: 14px;
      letter-spacing: -0.56px;
    }
  }
}

@media (max-width: 768px) {
  .procurement-manager {
    &__header {
      margin-bottom: 40px;
    }

    &__panel {
      min-height: 300px;
      grid-template-columns: 1fr;
      align-items: start;
      border-radius: 15px;
      background: linear-gradient(114deg, rgb(231, 238, 255) 1.57%, rgba(231, 238, 255, 0.18) 117.3%);
    }

    &__visual {
      left: auto;
      right: -18px;
      bottom: 0;
      width: 230px;
      height: 230px;
    }

    &__content {
      grid-column: 1;
      max-width: 70%;
      gap: 15px;
      padding: 25px 18px;
    }

    &__title {
      font-size: 23px;
      line-height: 1.2;
      letter-spacing: -0.92px;

      max-width: 410px;
    }

    &__text {
      max-width: 360px;
      font-size: 17px;
      letter-spacing: -0.68px;
    }

    &__name {
      font-size: 17px;
      letter-spacing: -0.68px;
    }

    &__role {
      font-size: 13px;
      letter-spacing: -0.52px;
    }
  }
}

@media (max-width: 560px) {
  .procurement-manager {
    &__header {
      margin-bottom: 35px;
    }

    &__panel {
      min-height: 283px;
    }

    &__visual {
      right: -38px;
      width: 198px;
      height: 198px;
    }

    &__content {
      max-width: 300px;
      padding: 25px 18px;
    }

    &__title {
      font-size: 21px;
      letter-spacing: -0.84px;
    }

    &__text {
      max-width: 190px;
      font-size: 16px;
      letter-spacing: -0.64px;
    }

    &__name {
      font-size: 16px;
      letter-spacing: -0.64px;
    }

    &__role {
      font-size: 13px;
      letter-spacing: -0.52px;
    }
  }
}
