---
import Footer from '../components/Footer.astro';
import FaqSection from '../components/FaqSection.astro';
import FeatureCardsSection from '../components/FeatureCardsSection.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import CalculatorSection from '../components/CalculatorSection.astro';
import BlogSection from '../components/BlogSection.astro';
import ProductsSection from '../components/ProductsSection.astro';
import StepsSection from '../components/StepsSection.astro';
import ClientsSection from '../components/ClientsSection.astro';
import ConsultationDialog from '../components/ConsultationDialog.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
	title="SimpleFinance | ECOM"
	description="Base homepage shell for the Astro project."
>
	<Header />
	<main>
		<HeroSection />
		<FeatureCardsSection />
		<CalculatorSection />
		<ProductsSection />
		<ClientsSection />
		<StepsSection />
		<BlogSection />
		<FaqSection />
	</main>
	<ConsultationDialog />
	<Footer />
</BaseLayout>
