---
import BlogSection from '../ecom/BlogSection.astro';
import CalculatorSection from '../ecom/CalculatorSection.astro';
import ClientsSection from '../ecom/ClientsSection.astro';
import FaqSection from '../ecom/FaqSection.astro';
import FeatureCardsSection from '../ecom/FeatureCardsSection.astro';
import HeroSection from '../ecom/HeroSection.astro';
import ProductsSection from '../ecom/ProductsSection.astro';
import StepsSection from '../ecom/StepsSection.astro';
---

<main transition:name="page-content" transition:animate="slide">
	<HeroSection />
	<FeatureCardsSection />
	<CalculatorSection />
	<ProductsSection />
	<ClientsSection />
	<StepsSection />
	<BlogSection />
	<FaqSection />
</main>
