---
import DirectionsSection from './DirectionsSection.astro';
import CompanyFactsSection from './CompanyFactsSection.astro';
import CompanyStatsSection from './CompanyStatsSection.astro';
import FaqSection from '../common/FaqSection.astro';
import LeadFormSection from './LeadFormSection.astro';
import MissionSection from './MissionSection.astro';
import WhyTrustSection from './WhyTrustSection.astro';
import HeroSection from '../common/HeroSection.astro';
import StepsSection from '../common/StepsSection.astro';
import heroHomeImage from '../../assets/hero-home.jpg';
---

<main transition:name="page-content" transition:animate="slide">
	<HeroSection
		variant="home"
		titleLines={['Финансирование,', 'которое помогает', 'бизнесу расти']}
		descriptionLines={['Для государственных контрактов', 'и продавцов маркетплейсов']}
		buttonLabel="Подобрать решение"
		buttonVariant="secondary"
		image={heroHomeImage}
	/>
	<DirectionsSection />
	<WhyTrustSection />
	<MissionSection />
	<CompanyFactsSection />
	<CompanyStatsSection />
	<StepsSection />
	<LeadFormSection />
	<FaqSection />
</main>
