---
import DirectionsSection from './DirectionsSection.astro';
import WhyTrustSection from './WhyTrustSection.astro';
import HeroSection from '../common/HeroSection.astro';
import heroGlowTop from '../../assets/hero-bg1-home.png';
import heroGlowBottom from '../../assets/hero-bg2-home.png';
import heroHomeImage from '../../assets/hero-home.jpg';
---

<main>
	<HeroSection
		variant="home"
		titleLines={['Финансирование,', 'которое помогает', 'бизнесу расти']}
		descriptionLines={['Для государственных контрактов', 'и продавцов маркетплейсов']}
		buttonLabel="Подобрать решение"
		image={heroHomeImage}
		glowTop={heroGlowTop}
		glowBottom={heroGlowBottom}
		glowTopStyle="width: 177px; height: 177px;"
		glowBottomStyle="width: 137px; height: 137px;"
	/>
	<DirectionsSection />
	<WhyTrustSection />
</main>
