---
import BlogSection from './BlogSection.astro';
import CalculatorSection from './CalculatorSection.astro';
import ClientCasesSection from './ClientCasesSection.astro';
import FaqSection from '../common/FaqSection.astro';
import FeatureCardsSection from './FeatureCardsSection.astro';
import HeroSection from '../common/HeroSection.astro';
import StepsSection from '../common/StepsSection.astro';
import ProductsSection from './ProductsSection.astro';
import heroBgMobile1 from '../../assets/hero-bg-mobile-1.png';
import heroWarehouse from '../../assets/hero.jpg';
---

<main>
	<div transition:name="page-content-top" transition:animate="slide">
		<HeroSection
			variant="ecom"
			badges={['Wildberries', 'Ozon', 'Золотое яблоко', 'Lamoda']}
			titleLines={['Финансирование для роста бизнеса', 'на маркетплейсах']}
			descriptionLines={['До 150 млн ₽ за 1 день, без залога, полностью онлайн']}
			buttonLabel="Узнать условия"
			image={heroWarehouse}
			mobileGlowBottom={heroBgMobile1}
		/>
		<FeatureCardsSection />
	</div>
	<CalculatorSection />
	<div transition:name="page-content-bottom" transition:animate="slide">
		<ProductsSection />
		<ClientCasesSection />
		<StepsSection />
		<BlogSection />
		<FaqSection />
	</div>
</main>
