---
import BlogSection from './BlogSection.astro';
import CalculatorSection from './CalculatorSection.astro';
import ClientsSection from './ClientsSection.astro';
import FaqSection from './FaqSection.astro';
import FeatureCardsSection from './FeatureCardsSection.astro';
import HeroSection from './HeroSection.astro';
import ProductsSection from './ProductsSection.astro';
import StepsSection from './StepsSection.astro';
---

<main transition:name="page-content" transition:animate="slide">
	<HeroSection />
	<FeatureCardsSection />
	<CalculatorSection />
	<ProductsSection />
	<ClientsSection />
	<StepsSection />
	<BlogSection />
	<FaqSection />
</main>
