---
interface Props {
  amountSourceSelector?: string;
}

const { amountSourceSelector } = Astro.props;
---

<span class="consultation-dialog-trigger" data-consultation-amount-source={amountSourceSelector}>
  <slot />
</span>
