.ui-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	font-family: 'Commissioner', Arial, sans-serif;
	font-style: normal;
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-button);
	text-align: center;
	color: var(--color-white);
	cursor: pointer;
	transition:
		background-color var(--transition-duration-fast) ease-in-out,
		border-color var(--transition-duration-fast) ease-in-out,
		color var(--transition-duration-fast) ease-in-out;

	&--primary {
		background: var(--color-primary);

		&:hover {
			background: var(--color-primary-50);
		}
	}

	&--secondary {
		background: var(--color-secondary);

		&:hover {
			background: var(--color-secondary-button-hover);
		}
	}

	&--outline {
		background: transparent;
		border-color: var(--color-primary);
		color: var(--color-primary);

		&:hover {
			background: var(--color-primary-50);
			border-color: transparent;
			color: var(--color-white);
		}
	}

	&--md {
		height: 52px;
		padding: 14px 16px;
		border-radius: var(--radius-xs);
		font-size: 18px;
	}

	&--lg {
		height: 59px;
		padding: 10px 26px;
		border-radius: var(--radius-xs);
		font-size: 24px;
	}

	&--xl {
		height: 76px;
		padding: 10px 25px;
		border-radius: var(--radius-xs);
		font-size: 26px;
	}
}

@media (max-width: 1440px) {
	.ui-button {

		&--md {
			height: 46px;
			padding-inline: 14px;
			font-size: 16px;
		}

		&--lg {
			height: 50px;
			padding-inline: 16px;
			font-size: 22px;
		}

		&--xl {
			height: 62px;
			padding-inline: 20px;
			font-size: 23px;
		}
	}
}

@media (max-width: 1024px) {
	.ui-button {

		&--md {
			height: 38px;
			padding-inline: 12px;
			font-size: 14px;
		}

		&--lg {
			height: 43px;
			padding-inline: 10px;
			font-size: 16px;
		}

		&--xl {
			height: 46px;
			padding-inline: 14px;
			font-size: 16px;
		}
	}
}

@media (max-width: 767px) {
	.ui-button {

		&--md {
			height: 38px;
			padding-inline: 12px;
			font-size: 14px;
		}

		&--lg {
			height: 41px;
			padding-inline: 12px;
			font-size: 14px;
		}

		&--xl {
			height: 46px;
			padding-inline: 14px;
			font-size: 16px;
		}
	}
}
